* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}



.container {
    background-image: url(images/old-windows-1920-x-1080-background-ngg7bmgpkxrk69lm.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    align-items: center;
    background-color: #010085;
    height: auto;
    width: 100%;

}

button {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    border: 2px solid #ccc;
    background-color: #c0c1c1;
    color: #000;
    cursor: pointer;
    box-shadow: 2px 2px 0px #808080, -2px -2px 0px #ffffff;
    outline: none;
    border-radius: 2px;
    gap: 5px;
    /* Yazı ve resim arasındaki boşluk */
    height: auto;
    /* Sabit yükseklik */
    margin-right: 7px;
    width: 19%;
    font-size: 0.8rem;

}

.button-icon {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    /* Resim boyutu */
}

.button-tartismalar {
    width: 19%;
}

.button-icon-1 {
    width: 40px;
}

.button-icon-2 {
    width: 32px;
}


button:active {
    box-shadow: inset 2px 2px 0px #808080, inset -2px -2px 0px #ffffff;
    background-color: #d0d0d0;
}



.main_div {
    border: 1px solid black;
    background-color: #fad294;
    width: 70%;
    margin-top: 1%;
    height: 100%;
    margin-bottom: 40px;



}

.logodivnav {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.div_buttons {
    display: flex;
    width: 60%;

    align-items: center;
    /*justify-content: space-around;*/
    justify-content: center;
    height: 48px;
    width: 60%;
}

.kullanici-islemleri {
    width: 20%;

    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo_png {
    height: 92%;
    width: 20%;

}

.button1 {
    width: 50%;


}

.logopng {
    width: 30%;
    height: 98%;
    margin: 5px;

}

.logodiv {
    background-color: #f8c578;
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);


}

.logo_baslik {
    color: black;
    font-size: 2rem;
    margin: 20px;
    font-family: "Jersey 10", sans-serif;

}

.logo_p {
    font-weight: bold;
    margin: 20px;
    color: gray;

}

.baslik_div {
    width: 100%;

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baslik {
    margin: 20px;
    border-bottom: 1px solid black;
    font-weight: 700;
    font-style: italic;


}

.card-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    border: 1px solid black;
    cursor: pointer;
    width: 47%;
    height: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #f8c578;
}

.satir-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 30%;
    margin: 10px;
}

.card-p-div {
    width: 65%;
    display: flex;
    flex-direction: column;


}

.card-h {
    font-size:large;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.card-p {
    background-color: #fad294;
    width: 100%;
    display: -webkit-box;
    /* Gerekli */
    -webkit-box-orient: vertical;
    /* Gerekli */
    -webkit-line-clamp: 6;
    /* Satır sayısını sınırlar */
    overflow: hidden;
    /* Taşan metni gizler */
    text-overflow: ellipsis;
    /* Sonuna (...) ekler */

}

.card-button-div {

    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.card-button {
    width: auto;
    height: 100%;
}

.card-middle {
    background-color: #fad294;
}

/* Footer Menu */

footer {
    width: 100%;
    background-color: #070772;
    height: auto;
    border-top: 1px solid black;



}

.f-head {
    display: flex;
    justify-content: center;
}

.f-cards {
    width: 100%;
    background-color: #070772;
    height: auto;


    display: flex;
    justify-content: space-around;
}

.f-card {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #1f1fb1;
    width: 28%;
    height: auto;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-card h4 {
    text-align: center
}

ul {
    list-style: none;

}

.login_div {
    width: 60%;
    background-color: red;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.input_div {
    display: flex;

}

.cizgi-div {
    display: flex;
    justify-content: center;
}

.alt-cizgi {

    width: 80%;
    height: auto;
    border: 1px solid #09093f;

}

.sosyal {
    padding: 20px;

    text-align: center;

}

.fa-brands {
    color: white;
    font-size: 1.5rem;
    margin-right: 5px;
}

.icons_sosyal {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-p {
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}